@charset "UTF-8";
/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.logoWpp {
  width: 60px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

/*Header*/
header img {
  width: 50px;
}
header nav {
  font-size: 25px;
}
header nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #337ab7;
  font-weight: bolder;
}
header nav a:hover {
  background-color: #EEF0F1;
  border-radius: 10px;
}

/*Banner*/
.contenedorTextoConImagen p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
  color: black;
}

.tituloNuestrosServicios {
  background-color: #337ab7;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  padding: 16px;
}
.tituloNuestrosServicios h1 {
  font-size: 55px;
}

.contenedorServicios,
h4 {
  color: #337ab7;
  font-size: 20px;
  font-weight: bold;
}

/*imagen y ubicación*/
.imagenCita {
  width: 100%;
}

.ubicacion {
  margin-top: 30px;
}

/*form*/
.tituloContacto {
  background-color: #337ab7;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  padding: 16px;
}
.tituloContacto h1 {
  font-size: 55px;
}

.fotoClinica {
  width: 419px;
  margin-bottom: 50px;
}

h3 {
  font-size: 25px;
  text-align: left;
  margin-bottom: 40px;
  font-weight: bold;
  color: #337ab7;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 8px;
}
form Label {
  display: block;
  margin-bottom: 5px;
  color: #337ab7;
  font-size: 20px;
}

.boton {
  width: 100px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  background-color: #BB6C92;
  color: #fafafa;
  border: none;
}

.boton:hover {
  transform: translateY(-5px);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.boton:active {
  transform: translateY(3px);
}

/*footer*/
footer {
  background-color: #337ab7;
  color: #337ab7;
  padding: 20px 0;
}

.footerContenido {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #fafafa;
}

.infoContacto p {
  color: #fafafa;
  margin: 5px 0;
  font-size: 20px;
  text-decoration: none;
}

.redesSociales a {
  margin: 5px 0;
  font-size: 20px;
  color: #fafafa;
  text-decoration: none;
  margin-right: 10px;
}
.redesSociales a:hover {
  color: darkblue;
}

.footer i {
  margin-right: 10px;
}

@media (max-width: 1023px) {
  .footerContenido {
    flex-direction: column;
    text-align: center;
  }
}
/*procedimientos*/
.tituloProcedimientos {
  background-color: #337ab7;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  padding: 16px;
}
.tituloProcedimientos h1 {
  font-size: 55px;
}

.contenedorProcedimientos,
p {
  font-size: 15px;
  color: #337ab7;
  text-align: justify;
}
.contenedorProcedimientos h5,
p h5 {
  color: #BB6C92;
}
.contenedorProcedimientos .tarjeta,
p .tarjeta {
  border: none;
  padding: 15px;
}

/*galeria*/
.tituloGaleria {
  background-color: #337ab7;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  padding: 16px;
}
.tituloGaleria h1 {
  font-size: 55px;
}

.tituloVarices h3 {
  font-size: 28px;
  color: #BB6C92;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.contenedorImagenes div {
  border: none;
  color: #337ab7;
  justify-content: space-around;
}

/*Profesionales*/
.tituloProfesionales {
  background-color: #337ab7;
  color: #fafafa;
  text-align: center;
  font-weight: bold;
  padding: 16px;
}
.tituloProfesionales h1 {
  font-size: 55px;
}

.nombreProfesional {
  font-size: 28px;
  color: #BB6C92;
  font-weight: bold;
}

.fotoProfesional {
  width: 450px;
  margin-bottom: 50px;
}

.contenedorProfesionales li {
  margin-top: 20px;
  font-size: 20px;
  text-align: justify;
  color: #337ab7;
}
.contenedorProfesionales ul {
  margin-top: 50px;
}

/*# sourceMappingURL=estilo.css.map */
