/*Banner*/
@media (min-width:350px) {
  .textoInicio {
   text-align: justify;
   font-size: 25px;
  }
}

@media (min-width:1000px) {
  .textoInicio {
   text-align: justify;
   font-size: 30px;
  }
}

.contenedorTextoConImagen p {
  font-weight: bold;
  margin-bottom: 35px;
  color: black;
  
}

.tituloNuestrosServicios {
  background-color: $color-principal;
  color: $color-titulo;
  text-align: center;
  font-weight: bold;
  padding: 16px;

  h1 {
    font-size: 55px;
  }
}

.contenedorServicios,
h4 {
  color: #337ab7;
  font-size: 20px;
  font-weight: bold;
}

/*imagen y ubicación*/

.imagenCita {
  width: 100%;
}

.ubicacion {
  margin-top: 30px;
}


