/*footer*/

footer {
  background-color: $color-principal;
  color: $color-titulo;
  padding: 20px 0;
}

.footerContenido {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.infoContacto p {
  color: $color-titulo;
  margin: 5px 0;
  font-size: 20px;
  text-decoration: none;
}

.redesSociales a {
  margin: 5px 0;
  font-size: 20px;
  color: $color-titulo;
  text-decoration: none;
  margin-right: 10px;

  &:hover {
    color: darkblue;
  }
}

.footer i {
  margin-right: 10px;
}

@media (max-width:1023px) {
  .footerContenido {
      flex-direction: column;
      text-align: center;
  }
}