/*footer*/

footer {
    background-color: #337ab7;
    text-align: center;
    border-bottom: #337ab7 solid;
  
    p {
      display: inline-block;
      font-size: 15px;
      color: #fafafa;
    }
  
    a {
      font-size: 15px;
      color: #fafafa;
      text-transform: none;
      font-weight: 100;
    }
  }