/*procedimientos*/

@mixin titulos {
    background-color: $color-principal;
    color: $color-titulo;
    text-align: center;
    font-weight: bold;
    padding: 16px;

    h1 {
        font-size: 55px
    }
}

.tituloProcedimientos {
    @include titulos;
}

.contenedorProcedimientos, 
p {
    font-size: 15px;
    color: $color-principal;
    text-align: justify;

    h5 {
        color: $color-segundario;
    }

    .tarjeta {
        border: none;
        padding: 15px;
      width: auto;
    }
}